<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
    <link rel="stylesheet" href="faculty.css">
</head>

<body>
    <p class="info">Dr. Manoj Chandak</p>
    <div id="info">
        <p>
        <pre>⭐  Dean Academics</pre>
        </p>
        <pre><p>📆  23 Jul 1969.</p></pre>
        <pre><p>💼  25 years</p></pre>
    </div>
    <br>
    <br>
    <br>

    <div id="box">
        <img src="http://www.rknec.edu/Faculty/UserPhotos/chandakmb/DR.%20M.%20B.%20CHandak%20(5).JPG"
            alt="hod" class="img">

        <div><a href="https://in.linkedin.com/in/dr-manoj-b-chandak-ph-d-cse-6390b121"
                target="_blank" class="l1"><img src="https://cdn-icons-png.flaticon.com/512/174/174857.png"
                    alt="linkedin" height="45px" width="45px" class="linkedin">
                
            </a></div>
        <div><a href="agrawalaj@rknec.edu" target="_blank" class="l2"> <img
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Gmail_icon_%282020%29.svg/2560px-Gmail_icon_%282020%29.svg.png"
                    alt="gmail" height="35px" width="45px" class="gmail">
            
            </a></div>

    </div>

    <div id="qualification">
        <h1>
            <pre>  🎓 Graduation</pre>
        </h1>
        <p>
        <pre>   Chandak sir completed his schooling from School Of Scholars, Nagpur. His academic achievements are 
   not specified, and has demonstrated leadership qualities and an interest in extracurricular 
   activities. Chandak sir's educational background at this institution reflects his formative years which have 
   played a role in shaping his values and personal growth.</p></pre>


    </div>
    <br>
    <div id="achievement">
        <h1>
            <pre>   🏆 Achievements / Awards</pre>
        </h1>

        <p><pre>    SECOND MERIT IN B.E., FIRST MERIT IN M.E</pre></p>


    </div>
    <br>
    <div id="spec">
        <h1>
            <pre>   🖥️ Specialization</pre>
        </h1>

        <p><pre>   Information Retrieval, NLP, Pattern Recognition Compiling for High Performance Architecture, Language
   Processors, Artificial Intelligence, Theoretical Computation, Mobile Application Design
        </pre></p>


    </div>
</body>

</html>